
/*body*/
body{
	background-color: rgb( 239, 249, 255 );
}
/*navigation bar*/
#navbar{
	background-color: rgb( 64, 64, 64 );
	position: absolute;
	width: 1250px;
}
/*navigation bar links*/
#navbar a{
	float: left;
	color: rgb( 255, 255, 255 );
	text-align: center;
	padding: 14px 16px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;	/*gets rid of underline on a link */
}
/*header box*/
#header{
	background-color: rgb( 0, 51, 102 );
	padding: 10px;
	position: absolute;
	top: 9%;
	
}
/*header*/
#header h1{
	color: rgb( 255, 255, 255 );
}
/*paragraph*/
#paragraph{
	position: relative;
	top: 200px;
	font-size: 18px;
}


















/*navigation bar*/
#navbar{
	background-color: rgb( 64, 64, 64 );
	position: absolute;
	width: 970px;
}
/*navigation bar links*/
#navbar a{
	float: left;
	color: rgb( 255, 255, 255 );
	text-align: center;
	padding: 14px 16px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;	/*gets rid of underline on a link */
}
/*header box*/
#header{
	background-color: rgb( 0, 51, 102 );
	padding: 10px;
	position: absolute;
	top: 9%;
	
}
/*header*/
#header h1{
	color: rgb( 255, 255, 255 );
}
/*login box*/
#loginBox{
	position: relative;
	float: right;
	padding: 5px 20px;
	border-style: solid;
	border-color: black;
}
/*login title in the box*/
#loginBox #loginTitle{
	text-align: center;
}
/*paragraph*/
#paragraph{
	position: relative;
	top: 200px;
	font-size: 18px;
}

















